<div class="container" style="margin-top:30px">
  <h3>{{title}}</h3>
  <hr/>
  <div class="col-md-8">

    <form [formGroup]="create_article_form" (ngSubmit)="createArticle()">
      <div class="form-group">
        <h4>Title</h4>
        <input formControlName="title" name="title" type="text" class="form-control" id="formControlInput1" required/>
      </div>

      <div class="form-group">
        <h4>Author</h4>
        <input formControlName="author" name="author" type="text" class="form-control" id="formControlInput1" required/>
      </div>

      <div class="form-group">
        <h4>Content</h4>
        <textarea formControlName="body" name="body" class="form-control" id="formControlInput1" 
                rows="10" Placeholder="Enter article content"
                required>
        </textarea>
      </div>

      <div class="form-group">
        <h4>Pubish</h4>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" formControlName="published" name="published" class="custom-control-input" id="checkPublish" />
            <label class="custom-control-label" for="checkPublish">Tick to publish article</label>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-plus"></span> Add New Article
        </button>

        <a (click)="goBack()" class='btn btn-primary pull-right'>
          <span class='glyphicon glyphicon-step-backward'></span> Back
        </a>
      </div>

      <h4 *ngIf="articleIsCreated">{{confirmationMessage}}</h4>
    </form>

  </div>

</div>
