<div class="container" style="margin-top:30px">
  <h3>Lunch Menu</h3>
  <hr/>

  <div class="col-md-10">
      <ul class="list-group">
        <li class="list-group-item">Soups</li>
        <li class="list-group-item">Sandwiches</li>
        <li class="list-group-item">Salads</li>
        <li class="list-group-item">Chips</li>
      </ul>
  </div>
</div>