
<div class="container" style="margin-top:60px">
            <div *ngIf="isLoginError" class="red-text center error-message">
                <i class="material-icons">error</i> Incorrect username or password
            </div>

<div class="col-md-6">
          
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
   <div class="row">
     <div class="input-field col s12">
       <i class="material-icons prefix">account_circle</i>
       <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input type="password" #Password ngModel name="Password" placeholder="Password" required>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
      </div>
</form> 

          <div class="card-content white">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
 </div>

 </div>

