<div class="container" style="margin-top:30px">
    <h3>{{title}}</h3>
    <hr/>
    <div class="col-md-10">

      <div class="row">
          <div class="col-sm-4">Username  :</div>
          <div class="col-sm-4">{{userName}}</div>

        </div>

        <div class="row">
            <div class="col-sm-4">User Role :</div>
            <div class="col-sm-4">{{userRole}} </div>
  
          </div>

          <div class="row">
              <div class="col-sm-4">Location :</div>
              <div class="col-sm-4">Manchester, UK</div>
    
        </div>
    </div>
  </div>