<div class="container" style="margin-top:30px">
  <h3>{{article.title}}</h3>
  <hr/>

  <div class="col-sm-8">
    <h6><i>Published by</i> {{article.author}}</h6>

    <p>{{article.body}}</p>

    <div class="btn-group">
      <button type="button" class="btn btn-success" (click)="likeArticle()" 
                [ngClass]="!liked ? 'btn-success' : 'btn-danger'">
        <span class='glyphicon glyphicon-star-empty'></span>Like
      </button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-primary pull-right" (click)="goBack()">
        <span class='glyphicon glyphicon-step-backward'></span>Back</button>
    </div>
  </div>

</div>
