<div class="container" style="margin-top:30px">


  <h3>Hello! Welcome to Pressford News Portal</h3>

  <hr/>

  <ul>
    <li *ngFor="let article of articles">

      <div *ngIf="article.published" class="row">
        <div class="card-body" class="col-sm-8">
          <h4 class="card-title">{{article.title}}</h4>
          <p class="card-text">{{article.body}}...</p>
          <p class="text-success">
            <small>
              <i>Published on </i> {{ article.publishDate | date: 'dd/MM/yyyy h:mm:ss a' }}</small>
          </p>
          <button type="button" class="btn btn-primary">
            Likes
            <span class="badge badge-light">{{ article.likeCount }}</span>
          </button>
          <div class="btn-group" [routerLink]="['/read-article',article.id]">
            <a class='btn btn-info m-r-5px'>
              <span class='glyphicon glyphicon-edit'>
              </span>READ MORE</a>
          </div>
        </div>
      </div>

    </li>
  </ul>

</div>
