<div class="container" style="margin-top:30px">
  <h3>{{title}}</h3>
  <hr/>

  <div class="row">
    <div class="col-md-12">
      <ul>
        <li *ngFor="let article of articles">

          <div class="row">
            <div class="col-sm-2">{{article.title}}</div>
            <div class="col-sm-1">
                <span *ngIf="article.published; else notPublished" 
                        class="glyphicon glyphicon-eye-open"></span>
                <ng-template #notPublished>
                    <span class="glyphicon glyphicon-eye-close"></span>
                </ng-template>
            </div>
            <div class="col-sm-5">{{article.body}}...</div>
            <div class="btn-group" [routerLink]="['/update-article',article.id]">
              <a class='btn btn-info m-r-5px'>
                <span class='glyphicon glyphicon-edit'></span>UPDATE</a>
            </div>
            <div class="btn-group" (click)="deleteArticle(article.id)">
              <a class='btn btn-danger m-r-5px'>
                <span class='glyphicon glyphicon-remove'></span>DELETE</a>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div>
  <div class="row m-b-10px">
    <div class="btn-group">
      <a [routerLink]='["/add-article"]' class='btn btn-primary pull-right'>
        <span class='glyphicon glyphicon-plus'></span> Create Article
      </a>
    </div>
  </div>
