<div class="container" style="margin-top:30px">
  <h3>Update Article</h3>
  <hr/>

  <div class="col-md-8">

    <form [formGroup]="update_article_form" (ngSubmit)="updateArticle()">
      <div class="form-group">
        <h4>Title</h4>
        <input formControlName="title" name="title" type="text" class="form-control" id="formControlInput1" [(ngModel)]="article.title"
          required/>
      </div>

      <div class="form-group">
        <h4>Author</h4>
        <input formControlName="author" name="author" type="text" class="form-control" id="formControlInput1" [(ngModel)]="article.author"
          required/>
      </div>

      <div class="form-group">
        <h4>Content</h4>
        <textarea 
            formControlName="body" name="body" 
            class="form-control" id="formControlInput1" 
            rows="10" [(ngModel)]="article.body"
            Placeholder="Enter article content"
            required>>
        </textarea>
      </div>

      <div class="form-group">
        <h4>Pubish</h4>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" 
                formControlName="published" name="published" 
                class="custom-control-input" id="checkPublish" 
                [(ngModel)]="article.published" />
          <label class="custom-control-label" for="checkPublish">Tick to publish article</label>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-plus"></span> Update
        </button>

        <a (click)="goBack()" class='btn btn-primary pull-right'>
          <span class='glyphicon glyphicon-step-backward'></span> Back
        </a>
      </div>

      <h4 *ngIf="articleIsUpdated">{{confirmationMessage}}</h4>
    </form>

  </div>

</div>
