<div class='main-nav'>
    <div class='navbar navbar-inverse  bg-white'>
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]='["/"]'>Pressford News Portal</a>
           
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a [routerLink]='["/home"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/noticeboard"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Noticeboard
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/lunch-menu"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Lunch Menu
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/coop-perks"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Co-op Perks
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/manage-articles"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-th-list'></span> Manage Articles
                    </a>
                </li>
                <li [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/profile"]' (click)='collapse()' *ngIf='checkLogin()'>
                            <span class='glyphicon glyphicon-th-list'></span> Profile
                        </a>
                    </li>
                <li [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/login"]' (click)='logout()' *ngIf='checkLogin()'>
                            <span class='glyphicon glyphicon-th-list'></span> Logout
                        </a>
                </li>
     
            </ul>
        </div>
    </div>
</div>
